@font-face {
    font-family: lightsizefont;
    src: url(Barlow-ExtraLight.ttf);
  }

@font-face {
    font-family: Boldsizefont;
    src: url(Barlow-SemiBold.ttf);
  }

@media (max-width: 425px){
    .function{
        width: 20px;
        
    }

    #test{
        
        margin-top: -30% !important;
    }

}

@media (max-width: 768px){
    .main{
        display: none;
    }

    #icon_button{
        display: none;
    }

}

@media (min-width: 769px){
    .dropbtn{
        display:none;
    }
}


@keyframes slideleft{
    from{
        transform: translateX(-120px);
    }

    to{
        transform: translateX(0);
    }

    0% { opacity: 0; }
  100% { opacity: 1; }

}

@keyframes slideleftTWO{
    from{
        transform: translateX(-500px);
    }

    to{
        transform: translateX(0);
    }
}

@keyframes slideup{
    from{
        transform: translateY(150px);
    }

    to{
        transform: translateY(0);
    }
}

@keyframes scrolling{
    
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.scrollwork {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(-3056.24px, 0px, 0px);
}



.slideleftanimation{
    animation-name: slideleft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}


.menu_icon {
    width: 35px;
    height: 5px;
    background-color: rgb(217, 217, 217);
    margin: 6px 0;
    
    display: block;
    margin-left: auto;
    margin-right: auto;

  }


.dropbtn {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    
    top: 0;

    background-color: rgba(139, 139, 139, 0.3);
    text-align: center;
    

    backdrop-filter: blur(7px);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;

    width: 100%;
}

.dropdown {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    position: fixed;
    top: 0;

    
    width: 100%;
    color:white;

    z-index: 5;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(139, 139, 139, 0.5);
    color: white;

    font-family: lightsizefont;

    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;

    width: 100%;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    
    padding: 18px 29px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgba(0, 47, 93, 0.5);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgba(139, 139, 139, 0.3);}

@media screen and (max-width: 600px) {
    .top_buttons {
      width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .top_buttons {
      width: 50%;
    }

    
}

.top_buttons{
    
    position: -webkit-sticky; /* Safari */
    position: sticky;
    position: fixed;
    top: 0;


    margin-bottom: -65px;
    width: 100%;
    text-align: center;
    
    z-index: 5;
    background-color: rgba(139, 139, 139, 0.3);

    backdrop-filter: blur(7px);
    
}

.main{

    color:white;
    background-color: rgba(139, 139, 139, 0);
    transition-duration: 0.4s;
    padding: 25px 50px;
    border: none;
    text-decoration: none;

    cursor: pointer;
    
}

.main:hover{
    background-color: rgba(0, 47, 93, 0.5);
}

.main_image{
    display: block;
    position: relative;
    filter: brightness(40%);
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: auto;
    
}

body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    
    
}

p{
    font-family: lightsizefont;
    font-size: larger;
}

h2{
    font-family: Boldsizefont;
    font-weight: normal;
}

#light_gray_box{

    background-color: rgb(245, 245, 245);
    width: 100%;

    padding-top: 100px;
    padding-bottom: 100px;
}

h1{
    text-align: center;
    font-weight: normal;
    font-family: Boldsizefont;
}

#first_message{
    font-family: lightsizefont;
    line-height: 1.8;
    text-align: center;
    font-size: larger;

    
}


.caller{
    font-family: lightsizefont;
    line-height: 1.8;
    text-align: center;
    font-size: larger;
}

#test{

    
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    margin-top: -40%;
    left: 50%;
    transform: translateX(-50%);


    height: 26vw;
   
    position: absolute;
    
}



.orange_buttons{
    background-color: rgb(244,155,22);
    color: white;
    padding: 20px;
    text-decoration: none;
    border: none;
    width: 50%;

    
    cursor: pointer;
    float: left;
    

    transition-duration: 0.4s;
    filter: brightness(100%);
}

#dark_orange{
    background-color: rgb(196,95,12);
}

.orange_buttons:hover{
    filter: brightness(115%);
}

#function_buttons {
    display:flex;
    justify-content: space-between;


    flex-direction: column;
    
}



.function{

    
    opacity: 0.5;
    

    width: 100%;
    height: 600px;
    
  
   
    


    font-family: Boldsizefont;
    transition-duration: 0.4s;
    background-color: white;

    font-size: larger;

    border-top: none;
    border-bottom: none;
    
    border: none;

    
    cursor: pointer;
    filter: grayscale(50%);
}



.bill_text{
    background-color: rgb(0, 0, 0);
    color: white;
    
    padding: 20px;
    max-width: 25%; 
    margin: 0 auto;

    opacity: 1 ;
    filter:none;

}

#smooth_container {
    inset: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

#EXTREME {
    overflow: visible;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -500.004, 0, 1);
    box-sizing: border-box;
    width: 100%;
}

@media (max-width: 426px){

    #light_gray_box{
        font-size: smaller;
    }

    .function{
        font-size: smaller;
        height: 300px;
        background-size: cover;
    }

    .water_news {
        font-size: x-small;
      }

    .learn_more{
        background-color: rgb(244,155,22) !important;
    }

    .row,
    .row > .column {
        width: 100%;
    }

    .row,
    .row > .column2{
        width: 100%;
    }

    .water_news{
        width: 100% !important;
        position: relative !important;
        background-color: black !important;
        padding: 0% !important;
        padding-top: 20px !important;
        padding-bottom: 30px !important;
    }
    
}

#bill{

    
    background-repeat: no-repeat;
    background-position:top;
    
    /*background-image: url(images/bill.png);
    background-size: 12%;*/

    
    background-image: url(images/makepayment.png);
    background-size: cover;
    background-attachment: fixed;
}



#bill:hover{
    opacity: 1;
    
    background-position:center;
    background-size: cover;
    background-image: url(images/makepayment.png);

    filter:none;
    

}

#service{

    background-repeat: no-repeat;
    background-position:top;
    
    /*background-image: url(images/services.png);
    background-size: 12%;*/

    
    background-image: url(images/services_hover.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#service:hover{
    opacity: 1;
    
    background-position:center;
    background-size: cover;
    background-image: url(images/services_hover.jpg);
    
    filter:none;
    
}

#issue_report{

    
    background-repeat: no-repeat;
    background-position:top;
    
    /*background-image: url(images/alert.png);
    background-size: 12%;*/
    
    
    background-image: url(images/new_report.png);
    background-size: cover;
    background-attachment: fixed;
}

#issue_report:hover{
    opacity: 1;
    
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-image: url(images/new_report.png);

    filter:none;
}


.slideshow-container {
    
    position: relative;
    margin: auto;

    background-color: rgb(245, 245, 245);
    
  }



.container{

    position: relative; 

}

@media screen and (max-width: 600px) {
    .water_news {
      
      padding: 5%;
      font-size: x-small;
    }
}



@media screen and (min-width: 1136px){
    .water_news{
        font-size:xx-large;
    }

}

@media screen and (max-width: 782px){
    .news_small_text{
        display: none;
    }
}




.water_news{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    

    text-align: center;
    
    width: 30%;
    height: 47.7%;
    
    padding: 10%;
    
    
    color: white;
    
}

.news_text{
    display: none;
    
}

.water_image{
    display:block;
    
}

.learn_more{
    text-decoration: none;

    transition-duration: 0.4s;
   
   
    padding: 20px;
    background-color: black;
    border: none;
    color:white;

    cursor: pointer;
}



.water_news:hover{
    cursor: pointer;

    .learn_more{
        background-color: rgb(244,155,22);
    }
}

.mySlides {
    display: none
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}



@keyframes fadeSlow {

    from {opacity: .7} 
    to {opacity: 1}
}

.fade {
    animation-name: fade;
    animation-duration: 0.6s;
  }

.fadeSlow {
    animation-name: fadeSlow;
    animation-duration: 1.9s;
  }
  

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }

.dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;   
}

.active, .dot:hover {
    background-color: rgb(0, 47, 93);
  }

.dot2:hover {
    background-color: rgb(186, 186, 186);
  }

#background_dots{
    padding: 10px;
    background-color: black;

}

#newsRoom{
    background-color: rgba(246, 246, 246, 0.5);

}

#news_room_btn{
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 15px;
    text-align: center;
    transition-duration: 0.4s;
    color: white;
    width: 100%;

    cursor: pointer;

    z-index: 2;
}

#news_room_btn:hover{
    background-color: rgb(0, 47, 93);
}

a:any-link{
    text-decoration: none;
    color: black;
}

.news_buttons{
    transition-duration: 0.4s;
}

.news_buttons:hover{
    color: rgb(244,155,22);
}

.column {
    float: left;
    width: 25%;
}


.row,
.row > .column {
  padding: 0px;
  background-color: rgb(245, 245, 245);

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    padding:10px;
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
}

.column2{
    float: left;
    width: 33%;

    animation-name: slideup;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.content2{
    text-align: center;
    padding: 10px;
}

.callout_text{
    

    background-color: rgba(0,0,0,0.7);
    position: absolute;
    color: white;
    z-index: 1;

    padding: 15px;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 10%;
}

.callouter{
    

    background-attachment: fixed;
    display: block;
    position: relative;

    height: 600px;
    background-image: url(images/bill_questions.jpg);
    width: 100%;
    background-size: cover;
}

#back_to_top{
    background-color: rgb(0,0,0);
    padding: 20px;
    display: block;
    width: 100%;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

#back_to_top:hover{
    background-color: rgb(244,155,22);
}

#about{
    background-color: black;
    color: white;
   
    
    padding: 100px;
    
}

#about_us td, #about_us th{
   
    text-align: center;
    padding: 8px;
}

#about_us{
    font-family: lightsizefont;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    
    table {
        display: block;
    }
    tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    th, td {
        display: block;
        border: none;
        padding: 0;
        text-align: center;
    }

}

#icon_button{
    text-decoration: none;
    border: none;
    background-color: rgba(139, 139, 139, 0);
    color: white;
    cursor: pointer;
}

#iconer{
    font-size: 20px;
    transition-duration: 0.4s;
}

#iconer:hover{
    color: rgba(0, 47, 93, 0.5);
}


.dark-mode {
    background-color: rgb(36, 36, 36);
    color: white;
    transition-duration: 0.4s;

    #light_gray_box{

        background-color: rgb(36, 36, 36);
        
    }

    .slideshow-container{
        background-color: rgb(36, 36, 36);
    }

    .column{
        background-color: rgb(36, 36, 36);
    }

    .row{
        background-color: rgb(36, 36, 36);
    }

    .news_buttons{
        color: white;

    }

    .news_buttons:hover{
        color: rgb(244,155,22);
    }

    .orange_buttons{
        background-color: rgb(244,155,22);
        color: white;

        filter: brightness(80%);
    }
    
    #dark_orange{
        background-color: rgb(196,95,12);
    }
    
    .orange_buttons:hover{
        filter: brightness(100%);
    }
  }

.hidden{
    opacity: 0;
    filter: blur(3px);
    transition: all 1s;
    transform: translateY(50%);
}

.hidden2{
    opacity: 0.5;
    filter: blur(3px);
    transition: all 1s;
    transform: translateY(50%);
}



@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }

}

.show{
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
}

.show_fade{
    filter: blur(0);
    opacity: 1;
    filter: brightness(48%);
}

.hidden.animate-once{
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
}




  